#hero {
    display: flex;
    flex-direction: column;
}

#hero > img {
    min-width: 400px;
    max-width: 900px;
    width: 70%;
    padding: 25px 0;
    align-self: center;
}

#hero > h1 {
    font-weight: 600;
    padding: 16px 36px;
}

#hero > p {
    font-weight: 300;
    color: #222222;
    padding: 0 36px;
    line-height: 110%;
}