#cards-list {
    display: flex;
    gap: 18px;
    padding: 0 37px;
    margin-bottom: 30px;
    justify-content: space-around;
}
  
#card {
    min-width: 175px;
    margin-top: 50px;
    flex: 0 0 auto;       
    display: flex;        
    flex-direction: column;
    position: relative;
}

#card > img {
    width: 100%;
    height: 235px;
    border-radius: 9px;
    transition: 400ms ease-in-out;
}

#card > img:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#info {
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 12px;
    line-height: 110%;
    color: #222222;
    margin-top: 8px;
}

#card > p {
    overflow: hidden;
    text-overflow: ellipsis;
}

.gray {
    color: #918E9B;
}

#card > div > img {
    height: 14px;
    width: 14px;
}

#card > p {
    font-size: 12px;
    line-height: 110%;
    color: #222222;
    margin-top: 8px;
}

#card > span {
    margin-top: 8px;
}

#badge {
    z-index: 10;
    position: absolute;
    top: 6px;
    left: 6px;
    padding: 5px 6px;
    background-color: white;
    color: #222222;
    border-radius: 2px;
    font-weight: bold;
    font-size: 10px;
}