#card {
    max-width: 175px;
    margin-top: 50px;
}

#card > img {
    width: 100%;
    border-radius: 9px;
}

#card > div {
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 12px;
    line-height: 110%;
    color: #222222;
    margin-top: 8px;
}

.gray {
    color: #918E9B;
}

#card > div > img {
    height: 14px;
    width: 14px;
}

#card > p {
    font-size: 12px;
    line-height: 110%;
    color: #222222;
    margin-top: 8px;
}

#card > span {
    margin-top: 8px;
}